@import "tailwindcss";


body {
  margin: 0 auto;
  background-color: purple;
  min-width: 100vw;
  width: 100%;
 padding: 0;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


/* .nav-wrapper {
  width: 100vw;
  background: #000;
} */

