@import "tailwindcss";

@layer base {
  body {
    @apply bg-[rgb(7,77,139)] min-h-screen;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 5c-3 5-3 10 0 15 3-5 3-10 0-15zM10 15c-3 5-3 10 0 15 3-5 3-10 0-15zM30 15c-3 5-3 10 0 15 3-5 3-10 0-15z' fill='white' fill-opacity='0.5'/%3E%3C/svg%3E");
    background-size: 150px 150px;
    background-repeat: repeat;
  }
}
